* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wallet-btn {
  display: flex;
  padding: 14px 52px 14px 47px;
  align-items: center;
  border-radius: 10px;
  background: #242424;
  box-shadow: 0px 12px 24px -6px rgba(45, 32, 17, 0.3),
    0px 4px 8px 0px rgba(45, 32, 17, 0.2),
    0px 1.5px 3px 0px rgba(45, 32, 17, 0.2),
    0px 1px 1px 0px rgba(45, 32, 17, 0.12),
    0px -3px 0px 0px rgba(0, 0, 0, 0.75) inset;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 13.563px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 147.465% */
  transition: all 200ms;
}

.wallet-btn:hover {
  color: #242424;
  background: #fff;
}

.swap {
  display: flex;
  width: 209px;
  padding: 14px 88px 14px 83px;
  align-items: center;
  max-width: 100%;
  border-radius: 60px;
  background: #ccc;
  box-shadow: 0px 1px 1px 0px rgba(45, 32, 17, 0.12);
  color: #202020;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.swap:hover {
  color: #ccc;
  background-color: #202020;
}

.withdraw-bg {
  background: url("./assets/bg-design.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.dashboard::-webkit-scrollbar {
  stroke-width: 0px;
}

@media (width<720px) {
  .wallet-btn {
    padding: 9px 30px;
    width: fit-content;
  }
}

@media (width<540px) {
  .sidebar {
    width: fit-content;
    /* overflow-x: auto; */
    min-width: 441px;
  }

  .sidebar-outer {
    max-width: 100%;
    overflow-x: auto;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wallet-btn {
  display: flex;
  width: fit-content;
  padding: 14px 52px 14px 47px;
  align-items: center;
  border-radius: 10px;
  background: #242424;
  box-shadow: 0px 12px 24px -6px rgba(45, 32, 17, 0.30), 0px 4px 8px 0px rgba(45, 32, 17, 0.20), 0px 1.5px 3px 0px rgba(45, 32, 17, 0.20), 0px 1px 1px 0px rgba(45, 32, 17, 0.12), 0px -3px 0px 0px rgba(0, 0, 0, 0.75) inset;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 13.563px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 147.465% */
  transition: all 200ms;
}

.wallet-btn:hover {
  color: #242424;
  background: #fff;

}

.swap {
  display: flex;
  width: 209px;
  padding: 14px 88px 14px 83px;
  align-items: center;
  max-width: 100%;
  border-radius: 60px;
  background: #CCC;
  box-shadow: 0px 1px 1px 0px rgba(45, 32, 17, 0.12);
  color: #202020;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.swap:hover {
  color: #CCC;
  background-color: #202020;
}

.withdraw-bg {
  background: url('./assets/bg-design.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.dashboard::-webkit-scrollbar {
  stroke-width: 0px;
}

.scroll-card::-webkit-scrollbar {
  display: none;
}


.hbc {
  border-radius: 20px;


  /* shadow */
  box-shadow: 0px 83px 83px 0px rgba(110, 110, 110, 0.09), 0px 21px 46px 0px rgba(110, 110, 110, 0.10);
}

.ani-main {
  position: relative;
}

.ani-coin {
  position: absolute;
  /* box-shadow: 86px 86px 34px 0px rgba(0, 0, 0, 0.00), 55px 55px 31px 0px rgba(0, 0, 0, 0.01), 31px 31px 26px 0px rgba(0, 0, 0, 0.05), 14px 14px 19px 0px rgba(0, 0, 0, 0.09), 3px 3px 11px 0px rgba(0, 0, 0, 0.10); */
}

.ani-coin-1 {
  left: 5%;
  background: transparent;
  top: -32%;
}

.ani-coin-2 {
  left: 17%;
  background: transparent;
  top: 5%;
}

.ani-coin-3 {
  right: 17%;
  background: transparent;
  top: 5%;
}

.ani-coin-4 {
  right: 12%;
  background: transparent;
  top: -12%;
}

.ani-coin-5 {
  right: 5%;
  top: -30%;
}

.ani-coin-6 {
  left: 5%;
  top: -10%;
}

.ani-coin-7 {
  left: 5%;
  top: 20%;
}

.ani-coin-8 {
  right: 5%;
  top: 10%;
}

.ani-coin-9 {
  right: 5%;
  top: 40%;
}

@media(width<1024px) {
  .ani-coin-4 {
    display: none;
  }

  .ani-coin-5 {
    top: -35%;
  }
}

@media(width<720px) {
  .wallet-btn {
    padding: 9px 30px;
    width: fit-content;
  }

  .ani-coin-1 {
    left: 2%;
    background: transparent;
    top: -32%;
  }

  .ani-coin-2 {
    left: 7%;
    background: transparent;
    top: 5%;
    scale: .6;
  }

  .ani-coin-3 {
    right: 7%;
    background: transparent;
    top: 5%;
    scale: .6;
  }

  .ani-coin-5 {
    right: 5%;
    top: -47%;
  }

  .ani-coin-6 {
    display: none;
  }
  
  .ani-coin-7 {
    display: none;
  }
  
  .ani-coin-8 {
    display: none;
  }
  
  .ani-coin-9 {
    display: none;
  }

}

@media(width<540px) {
  .sidebar {
    width: fit-content;
    /* overflow-x: auto; */
    min-width: 441px;
  }

  .ani-coin-1 {
    left: -5%;
    background: transparent;
    top: -68%;
    scale: .7;
  }

  .ani-coin-2 {
    left: 0%;
    background: transparent;
    top: 0%;
    scale: .6;
  }

  .ani-coin-3 {
    right: 0%;
    background: transparent;
    top: -4%;
    scale: .6;
  }

  .ani-coin-5 {
    right: -5%;
    top: -94%;
    scale: .8;

  }

  .hbc {
    border-radius: 5.545px;
    border: 0.277px solid #BCBCBC;
    box-shadow: 0px 5.822px 12.752px 0px rgba(110, 110, 110, 0.10);
  }

  .sidebar-outer {
    max-width: 100%;
    overflow-x: auto;
  }
}

@media(width<420px) {
  .ani-coin-1 {
    left: -8%;
    top: -81%;
  }

  .ani-coin-5 {
    right: -8%;
    top: -111%;
  }
}